.todo-app {
    header {
        .navbar {
            width: 100%;
        }
    }

    .login-wrapper {
        padding: 20px;
        .wrong, .success {
            font-size: 20px;
            font-weight: bold;

            color: red;
        }

        .success {
            color: green;
        }

        .username, .password {
            margin-bottom: 20px;
        }
        .btn {
            padding: 10px 20px;

            background: green;
            color: white;
        }
    }

    .footer {
        width: 100%;
        height: 40px;

        position :absolute;
        bottom: 0;

        background: #222;
    }
}
